<div class="row workout-action-row">
  <div class="workout-action-panel">
    <app-workout-panel></app-workout-panel>
  </div>
  <div class="workout-action-results">
    <h3 class="text-info">Actual results</h3>
    <app-workout-results
      *ngFor="let exerciseRoundsGroup of exerciseRoundsGroups"
      [exerciseRoundsGroup]="exerciseRoundsGroup"
    ></app-workout-results>
    <div 
      *ngIf="exerciseRoundsGroups.length === 0"
      class="alert alert-info not-found-alert no-exercises-alert mt-3"
    >
      <h5>No completed exercises yet</h5>
    </div>
  </div>
</div>