.results-item {
  outline: none;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover,
  &.active {
    padding: 1rem 1.5rem;
  }
  &.active {
    border-width: 4px;
  }
  &__dates {
    font-size: 13px;
  }
  &__time {
    margin-top: 6px;
    line-height: 6px;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
  }
}
