<div class="card mb-4" routerLinkActive="exercise_active">
  <div class="card-header d-flex justify-content-between">
    <h5 class="card-title mb-0 mt-1">{{ exercise.name }}</h5>
    <button class="btn btn-outline-danger btn-sm" (click)="onRemoveExercise()">
      Remove</button>
  </div>
  <div class="card-body text-secondary">
    <div class="d-flex align-items-end">
      <p>
        {{ exercise.roundAmount }} {{ roundWord }} -
        {{ exercise.unitAmount }} {{ unitWord }}
      </p>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <p class="card-text mb-0">{{ exercise.note.trim() || 'No note provided...' }}</p>
      <button 
        class="btn btn-outline-info btn-sm exercise-btn" 
        [routerLink]="[ '/workout', 'edit', exercise.id ]">
      Edit</button>
    </div>
  </div>
</div>