.active {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 0, 0, 0.15);
}

.no-exercises-alert {
  text-align: center;
  justify-content: center;
  height: 425px;
  display: flex;
  align-items: center;
}