<h3 class="text-success">
  {{ workout.muscleGroup.trim() ? 'Muscle group: ' + workout.muscleGroup.trim()
    : 'No muscle group specified...' }}
</h3>
<div class="card mt-3">
  <div class="card-body">
    <h4 class="crad-title mb-3 text-success">
      Start exercising <u>{{ currentExercise.name.toLowerCase() }}</u>
    </h4>
    <div class="card-text text-center alert alert-success">
      {{ currentExercise.note.trim() || 'No note provided...' }}
      <hr class="m-2">
      Your goal - {{ currentExercise.unitAmount }} 
      {{ currentExercise.unit | plural:currentExercise.unit + 's':currentExercise.unitAmount }} 
      at each round!
    </div>
    <div class="row align-items-center text-success text-center">
      <div class="col">
        <button 
          class="btn btn-block btn btn-success"
          *ngIf="!isRound"
          (click)="onStartRound()"
          [disabled]="!readyToStart()"
        >Start</button>
        <button 
          class="btn btn-block btn btn-info"
          *ngIf="isRound"
          (click)="onFinishRound()"
        >Done</button>
      </div>
      <div class="col">
        Rounds: {{ finishedRounds }} / {{ currentExercise.roundAmount }}
      </div>
      <div class="col">
        Time: {{ currentTime | timer }}
      </div>
    </div>
    <div *ngIf="roundJustFinished" class="row justify-content-center text-center align-items-center mt-3">
      <div class="col-4">
        <label for="units" class="mb-0 text-secondary">
          {{ currentExercise.unit + 's' | titlecase }}
        </label>
      </div>
      <div class="col-3">
        <input 
          id="units" 
          [(ngModel)]="currentUnits" 
          class="form-control" 
          type="number"
          min="1"
          max="200"
        >
      </div>
      <div class="col-4">
        <button 
          class="btn btn-info btn-block"
          (click)="onRest()"
          [ngClass]="{'btn-danger': finishedRounds === currentExercise.roundAmount}"
          [disabled]="!enableRest()"
        >{{ finishedRounds === currentExercise.roundAmount ? 'Finish' : 'Rest' }}</button>
      </div>
    </div>
    <div *ngIf="!workoutFinished" class="alert alert-warning mt-3">
      Notice: training can not be paused for resting time is provided!
    </div>
    <div 
      *ngIf="workoutFinished" 
      class="alert mt-3 text-center"
      [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}"
    >Workout is done, you {{ isSuccess ? 'succeeded' : 'failed' }}!
    </div>
    <div class="row mt-3">
      <div class="col">
        <button class="btn btn-block btn-success" [disabled]="!workoutFinished"
          (click)="onSaveExercisesResults()">Save</button>
      </div>
      <div class="col">
        <button 
          class="btn btn-block text-white btn-warning" 
          title="Results are to be lost" 
          (click)="setDefaultState()"
        >Try again</button>
      </div>
      <div class="col">
        <button 
          class="btn btn-block btn-danger" 
          title="Results are to be lost"
          [routerLink]="[ '/results' ]"
        >Quit</button>
      </div>
    </div>
  </div>
  <hr class="m-0">
  <div class="card-header text-muted text-right">
    Workout round passed: {{ finishedWorkoutRounds }} / {{ workout.rounds }}
  </div>
</div>